{% load static %}
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <div class="background-blur"></div>
<form method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="login-box">
            <h1>Login</h1>
            <div class="textbox">
                <input type="text" placeholder="Username" name="username" value="" required>
            </div>

            <div class="textbox">
                <input type="password" placeholder="Password" name="password" value="" required>
            </div>

            <h3>{{message}}</h3>

            <p><a href="">Forgot password?</a></p>

            <div class="submit-buttons">
                <input class="btn" type="submit" name="" value="Login">
            </div>
            
        </div>
    </div>
</form>
</body>
</html>