{% load static %}
<html>
<head>
    <meta  name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'title_page.css' %}">
</head>
<body>
        <section class="container">
                  <h1>EXPENSE MANAGER</h1>
                <p>It's not your salary that makes you rich, it's your spending habits...</p>
            <div class="buttons">
                <a href="login/"><input type="button" value="Login"></input></a>
                <a href="register/"><input type="button" value="Register"></input></a>
            </div>
        </section>
</body>
</html>